<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>

    <link rel="stylesheet" href="/stylesheets/book.css">

    <script defer>
        function changeType(button) {
            var buttons = document.querySelectorAll('.types button');
            buttons.forEach(function (btn) {
                btn.classList.remove('active');
            });
            button.classList.add('active');
        }
    </script>

</head>

<body>
<%- include('header.ejs') %>
    <div>
        <!-- Filter Div -->
        <div class="bottom-navbar">
            <!-- Types Div -->
            <div class="types">
                <button onclick="changeType(this)">Venues</button>
                <button onclick="changeType(this)">Coaching</button>
                <button onclick="changeType(this)">Events</button>
                <button onclick="changeType(this)">Deals</button>
            </div>
        </div>
    </div>

    <!-- Body Section -->
    <div class="content">
        <div class="cards-container">
            <% for (const venue of venues) { %>
                <div class="card" onclick="location.href = '/info'">
                    <div class="card-image">
                        <img src="/images/<%= venue.images %>.png" alt="">
                    </div>
                    <div class="card-info">
                        <div class="club-info">
                            <p><%= venue.venue_name %></p>
                            <p><img src="/images/star.png" alt="Star Icon"> 5.00 rating</p>
                        </div>
                        <p><%= venue.city %></p>
                        <div class="icons">
                            <img src="/images/cricket_icon.png" alt="Cricket Icon">
                            <img src="/images/tennis_icon.png" alt="Tennis Icon">
                        </div>
                    </div>
                </div>
            <% } %>
        </div>

        <!-- Show More Box -->
        <div class="show-more">
            <button>Show More</button>
        </div>
    </div>


    <%- include('footer.ejs') %>
</body>

<script>

    var selectField = document.getElementById("selectField");
    var selectText = document.getElementById("selectText");
    var options = document.getElementsByClassName("options");

    var list = document.getElementById("list");
    var arrowIcon = document.getElementById("arrowIcon");
    var selectField = document.getElementById("selectField");

    selectField.onclick = function(){
        list.classList.toggle("hide");
        arrowIcon.classList.toggle("rotate");
    }

    for(option of options) {
        option.onclick = function() {
            selectText.innerHTML = this.textContent;
            list.classList.toggle("hide");
        }
    }
        
</script>

</html>
