<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <title>Venue Details</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/417c425247.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/stylesheets/info.css" />
    <style></style>
  </head>
  <body>
    <%- include('header.ejs') %>

    <div class="container-fluid venue-details">
      <div class="breadcrumbs">
        <a href="/venues">Venues</a>
        <i class="fas fa-angle-right"></i>
        <a href="/venues/<%= session.city %>/all"><%= session.city %></a>
        <i class="fas fa-angle-right"></i>
        <span><%= venue.venueName %></span>
      </div>
      <div class="row">
        <!-- Left Side -->
        <div class="col-md-7">
          <h2><%= venue.venueName %></h2>
          <p class="small">
            <%= venue.address %>, <%= venue.rating %>
            <a href="#" onclick="openRatingPopup()">Rate Venue</a>
          </p>

          <!-- Image Carousel -->
          <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="3"
                aria-label="Slide 4"
              ></button>
            </div>
            <div class="carousel-inner">
              <% for (const image of venue.images) { %>
              <div class="carousel-item active">
                <img
                  src="/images/uploads/<%= image %>"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <% } %>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <!-- Sports Available Container -->
          <div class="mt-4">
            <b>Sports Available</b>
            <div class="sports">
              <% for (const sport of venue.sports) { %>
              <div class="sport">
                <p><%= sport %></p>
                <i class="fa-solid fa-futbol"></i>
              </div>
              <% } %>
            </div>
          </div>

          <!-- Amenities Container -->
          <div class="mt-4">
            <b>Amenities</b>
            <div class="amenities">
              <% for (const amenity of venue.amenities) { %>
              <div class="amenity">
                <i class="fa-solid fa-circle-check" style="color: #23a300"></i>
                <span><%= amenity %></span>
              </div>
              <% } %>
            </div>
            <!-- Add amenities with tick icons -->
          </div>

          <!-- About Venue Container -->
          <div class="mt-4">
            <b>About Venue</b>
            <div class="about">
              <p><%= venue.about %></p>
            </div>
          </div>
        </div>

        <!-- Right Side -->
        <div class="col-md-4">
          <button
            class="btn btn-success btn-lg btn-block mb-10 book-btn"
            onclick="location.href = '/booking?venue_id=<%= venue.id %>'"
          >
            Book Now
          </button>

          <!-- Share and Bulk/Corporate Buttons -->
          <div class="d-flex justify-content-between mb-3 other-btn">
            <button class="btn btn-info share-btn" onclick="sharePage()">
              <i class="fa-solid fa-share-nodes"></i> Share
            </button>
            <button class="btn btn-warning bulk-btn">Bulk/Corporate</button>
          </div>

          <!-- Timing Container -->
          <div class="mt-4">
            <b>Timings</b>
            <p>Open: <%= venue.startTime %> - <%= venue.endTime %></p>
          </div>

          <!-- Contact Details -->
          <div class="mt-4">
            <b>Contact Details</b>
            <p>Name: <%= user.firstName %><%= " " %><%= user.lastName %></p>
            <p>Phone No: <%= user.phoneNo %></p>
            <p>Email ID: <%= user.emailID %></p>
          </div>

          <!-- Location Container -->
          <div class="mt-4">
            <b>Location</b>
            <div class="location">
              <p><%= venue.address %></p>
              <iframe src="https://www.google.com/maps?q=<%= venue.address %>&output=embed" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <!-- Add Google Map iframe here -->
          </div>
        </div>
      </div>
    </div>

    <!-- Rating Popup -->
    <div id="ratingPopup" class="rating-popup">
      <!-- Add rating form and content here -->
      <h3>Rate the Venue</h3>
      <div class="stars" onclick="rateVenue(1)">
        <i class="far fa-star"></i>
      </div>
      <div class="stars" onclick="rateVenue(2)">
        <i class="far fa-star"></i>
      </div>
      <div class="stars" onclick="rateVenue(3)">
        <i class="far fa-star"></i>
      </div>
      <div class="stars" onclick="rateVenue(4)">
        <i class="far fa-star"></i>
      </div>
      <div class="stars" onclick="rateVenue(5)">
        <i class="far fa-star"></i>
      </div>
      <!-- Add rating form elements -->
      <br />
      <button class="submit-btn" onclick="submitRating()">Submit</button>
      <button class="close-btn" onclick="closePopup()">Close</button>
    </div>

    <%- include('footer.ejs') %>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script src="/scripts/info.js"></script>
  </body>
</html>
