<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <title>User Profile</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      .profile-container {
        max-width: 400px;
        margin: 50px auto;
        text-align: center;
      }

      .profile-photo {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 0 auto 20px;
        display: block;
        cursor: pointer;
      }

      .profile-details {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .profile-details label {
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
      }

      .profile-details input {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
      }

      .profile-actions {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
      }

      .edit-buttons button {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <%- include('header.ejs') %>

    <div class="container profile-container">
      <div class="alert alert-success" role="alert">
        Hello 👋 <%= session.user.firstName %> <%= session.user.lastName %>
      </div>
      <form class="profile-details" action="/myprofile" method="post" id="profile-details">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" value="<%= session.user.firstName %>" name="firstName" disabled />

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" value="<%= session.user.lastName %>" name="lastName" disabled />

        <label for="phoneNo">Phone Number:</label>
        <input type="tel" id="phoneNo" value="<%= session.user.phoneNo %>" name="phoneNo" disabled />

        <label for="email">Email:</label>
        <input type="email" id="email" value="<%= session.user.emailID %>" name="emailID" disabled />

        <label for="password">New Password:</label>
        <input type="password" id="password" value="" name="password" disabled />
        
        <label for="password">Confirm Password:</label>
        <input type="password" id="password2" value="" disabled />

        <div class="edit-buttons">
          <div class="btn btn-primary" onclick="handleEditClick()">
            Edit
          </div>
          <div
            class="btn btn-success"
            id="updateBtn"
            style="display: none"
            onclick="handleUpdateClick()"
          >
            Update
          </div>
          <div
            class="btn btn-danger"
            style="display: none"
            onclick="handleCancelClick()"
          >
            Cancel
          </div>
        </div>
      </form>

      <form action="" method="post" id="myprofile">
        <div class="profile-actions">
          <button class="btn btn-info" onclick="handleBookingsClick()">
            My Bookings
          </button>
          <button class="btn btn-warning" onclick="handleFeedbackClick()">
            Feedback
          </button>
        </div>
      </form>
    </div>

    <%- include('footer.ejs') %>
    <script>
      function handleEditClick() {
        document.querySelectorAll(".profile-details input").forEach((input) => {
          input.disabled = false;
        });

        // document.getElementById("profilePhoto").style.cursor = "pointer";
        document.getElementById("updateBtn").style.display = "inline-block";
        document.querySelector(
          ".edit-buttons .btn-danger"
        ).style.display = "inline-block";
        document.querySelector(
          ".edit-buttons .btn-primary"
        ).style.display = "none";
      }

      function handleUpdateClick() {
        document.getElementById("profile-details").submit();
      }

      function handleCancelClick() {
        location.reload();
      }

      function handleBookingsClick() {
        // Implement logic for "My Bookings" button click
        document.getElementById("myprofile").action = "/mybookings";
        document.getElementById("myprofile").method = "get";
        document.getElementById("myprofile").submit();
        // alert("Viewing My Bookings");
      }

      function handleFeedbackClick() {
        // Implement logic for "Feedback" button click
        document.getElementById("myprofile").action = "/feedback";
        document.getElementById("myprofile").method = "get";
        document.getElementById("myprofile").submit();
        // alert("Submitting Feedback");
      }

      function resetEditState() {
        location.reload();
      }           
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
